  .home-page-product-image {
    max-width: 70%;
    max-height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10%;
  }

  .btn-color {
    background-color: #9e7361;
      color: white;
      padding: 8px;
      border-radius: 6px;
      width: 150px;
      border-color: transparent;
  }
  
  .btn-color:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }

  .btn-position {
    margin-bottom: 5%;
    left: 0;
  }

  .name-position {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 25%;
  }

  .price-position {
    margin-top: 30%;
    left: 0;
  }

  .products {
    display: block;
    visibility: visible;
  }

  .small-products {
    display: none;
    visibility: hidden;
  }

  .container {
    margin-top: 100px;
  }

  .welcome {
    text-align: center;
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Bradley Hand', cursive;
  }

  .page-navigation{
    display: inline;
    padding: 50px;
  }

  .page-navigation-button {
    display: inline;
  }
  .page-navigation-page-number {
    display: inline;
  }

  .page-navigation-button-color {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }

  .product-item {
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  @media screen and (max-width: 800px) {
    .products {
      display: none;
      visibility: hidden;
    }

    .small-products {
      display: block;
      visibility: visible;
    }
  }